*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a
{
    color: inherit;
    text-decoration: none;
}

.header
{
    display: flex;
    align-items: center;
    padding: 10px 250px;
    gap: 20px;
    background-color: #1f2937;
    
}

.logo
{
    margin-right: auto;
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.link
{
    font-size: 18px;
    color: #e5e7eb;
}

.section-1
{
    display: flex;
    background-color: #1f2937;
    padding: 100px 250px;
    gap: 30px;
}

.s1-content
{
    flex: 1;
}

.title
{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.subtitle
{
    color: #e5e7eb;
}

.s1-image
{
    background-color: gray;
    width: ;
    flex: 1;
}