*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a
{
    color: inherit;
    text-decoration: none;
}

.header
{
    display: flex;
    align-items: center;
    padding: 10px 250px;
    gap: 20px;
    background-color: #1f2937;
    
}

.logo
{
    margin-right: auto;
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.link
{
    font-size: 18px;
    color: #e5e7eb;
}

.section-1
{
    display: flex;
    background-color: #1f2937;
    padding: 100px 250px;
    gap: 30px;
}

.s1-content
{
    flex: 1;
}

.s1-title
{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.s1-subtext
{
    color: #e5e7eb;
    font-size: 18px;
}

.s1-image
{
    background-color: gray;
    flex: 1;
}

.s1-button
{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 8px 40px;
    border-radius: 10px;
    margin-top: 15px;
}

.section-2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 250px;
    gap: 30px;
}

.s2-title
{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.s2-content
{
    display: flex;
}

.s2-profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.s2-image
{
    border: 5px solid #3882f6;
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

.s2-subtext
{
    color: #858586;
    font-size: 18px;
    max-width: 155px;
    text-align: center;
}